
/*@keyframes rotate-avatar {*/
/*    from {*/
/*        transform: rotateY(0deg);*/
/*    }*/
/*    to {*/
/*        transform: rotateY(3600deg);*/
/*    }*/
/*}*/

.main img {
    height: 250px;
    border: solid 4px black;
    margin-right: 10px;
    animation: rotate-avatar 60s infinite linear;
}

.main h1 {
    text-transform: uppercase;
}

.mainPart {
    display: flex;
    justify-content: center;
    align-items: center;
}

.desk p {
    padding-right: 100px;
}

