.poster img {
    width: 400px;
    opacity: 1;
}

.poster a {
    text-decoration: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    font-size: 30px;
    opacity: 0;
}

.poster {
    position: relative;
    margin-left: auto;
    text-align: center;
}

.poster:hover {
    background-color: black;
}

.poster:hover > img {
    opacity: 0.2;
}

.poster:hover > a {
    opacity: 1;
}