

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header_right img {
    height: 50px;
    margin: 15px;
}

.hidden {
    display: none;
}

.header_right {
    display: flex;
    align-items: center;
}

.button {
    padding: 5px 20px;
    border-radius: 15px;
    background-color: #51607f;
    color: white;
    border: 2px solid black;
}

.nav {
    font-size: large;
}

.nav a {
    padding: 5px;
}